@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


$imagin: linear-gradient(
	60deg,
	#000000,
	#1f1f1f
);
$header: linear-gradient(
	270deg,
	#040404,
	#4e4e4e 3%,
	#4e4e4e 97%,
	#040404 100%
);
$boxColor: #b8b8b8;

* {
	margin: 0;
}

body {
	background: $imagin;
	line-height: 1.5;
}


.toolbar {
	border-radius: 10px 10px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.3rem 0.75rem;
	background: $header;
	font-size: 1.25rem;
	font-family: "Nunito Sans", sans-serif;

	.fa-brands {
		font-size: 1.7rem;
	}

	font-weight: bold;
}

.editorContainer {
	max-width: 600px;
	margin: 1.5rem auto;

	.toolbar {
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
	}

	textarea {
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
		min-width: 100%;
		min-height: 250px;
		box-sizing: border-box;
		outline: none;
		padding: 15px;
		background-color: $boxColor;
		resize: vertical;
		border-radius: 0 0 0 10px;
	}
}

.previewContainer {
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	max-width: 1000px;
	margin: 1.5rem auto;
	background-color: $boxColor;
}

.maximized {
	min-height: 100vh;
	margin: auto;

	textarea {
		min-height: 100vh;
		resize: none;
	}
}

.hide {
	display: none;
}

//Preview formatting

#preview {
	font-family: Roboto, sans-serif;
	padding: 2rem;

	* {
		margin: 0 0 20px 0;
	}

	h1,
	h2,
	h3 {
		text-decoration: underline;
	}

	a {
		color: $imagin;
		text-decoration: none;
		font-weight: bold;
	}

	code {
		background-color: white;
		padding: 2px;
		font-size: .9rem;
	}

	pre {
		background-color: white;
		padding: 10px;
		border-radius: 5px;
	}

	blockquote {
		margin: 0 0 0 20px;
		border-left: 2px solid black;
		padding: 0 0 0 10px;
	}

	img {
		display: block;
		max-width: 90%;
		margin: 1.25rem auto;
	}
}